### Clojure ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/

# Don't commit the private configuration
.config.edn

# Ignore temporary files
.clj-kondo
.lsp
