{:default-number-of-questions 20
 :game-idle-time 1 ; In hours
 :question-time-out 45 ; In seconds
 :max-refresh-ms 100
 :max-upload-size 1000000 ; In bytes
 :port 8080
 :similarity-threshold 0.94} ; For Jaro-Winkler comparisons
