{:csrf-secret "Ke9Vy1G32Rtihk7CopCB7bwpslo"
 :db-store {:backend :memory
            :id #uuid "7adb6a99-2421-4864-988e-dce218c2cbec"}
 :default-number-of-questions 20
 :game-idle-time 1 ; In hours
 :question-time-out 0.01
 :max-refresh-ms 100
 :max-upload-size 1000000 ; In bytes
 :port 8081
 :similarity-threshold 0.94} ; For Jaro-Winkler comparisons
