{:defs {:genres [{:label "House" :related ["Genre" "Acid House"]}
                 {:label "Techno" :related ["Genre"]}
                 {:label "Acid House" :related ["House" "Techno"]}]}
 :questions #{{:type :network
               :scoring :consensus
               :text "Which genre is this?"
               :choices {:ref :genres}}}}
