{:defs {:texts {:test-question "Is this test successful?"}}
 :creators #{{:name "Jindřich Mynarz"
              :url "https://mynarz.net/#jindrich"}}
 :questions #{{:type :yesno
               :text {:ref :texts/test-question}
               :correct? true}}}
